*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.video video{
    width: 100%;
    vertical-align: middle;
}
.video.popout-bottom{
    position: fixed;
    right: 20px;
    width: 420px;
    max-width: 100%;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    animation: slideUp .3s ease-in-out forwards;
}
@keyframes slideUp {
    to{
        bottom: 20px;
    }
}
.content{
    margin-top: 100px;
    padding: 0 40px;
    font-family: sans-serif;
}
.content h1{
    font-size: 55px;
}
.content h2{
    font-size: 45px;
}
.content p{
    font-size: 18px;
    padding: 10px 0;
    text-align: justify;
}
.content ul{
    list-style: none;
    padding-left: 25px;
}